.App {
  text-align: center;
}

.para{
  color: red;
}

.thick{
  font-weight: bold;
}

.button {
background-color: orange;
color:white;
font: inherit;
border: 1px solid red;
padding: 8px;
cursor: pointer;
}

.button:hover {
  background-color:lime;
  color: yellow;
}
